* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    justify-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 520px;
    background-color:  #2f3236;
    border-radius: 12px;
    margin: auto;
    align-items: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    
}

.screenContainer {

    height: 150px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.screen {
    width: 300px;
    height: 100px;
    background-color: #2f4f4f;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    /* background-color: #fff; */
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0,0.5 );
}
.screen1 {
    width: 300px;
    height: 50px;
    font-size: larger;
    border-top: 10%;
    word-wrap: break-word;
    animation: flashText 1s infinite;

}

.screen2 {
    
    width: 300px;
    height: 50px;
    font-size: xx-large;
    border-bottom-right-radius: 10%; 
    word-wrap: break-word;
    animation: flashText 1s infinite;
    overflow: hidden;
    
}
.cleanContainer {
    flex-grow: 1;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    width: 70%;
    padding: 10px 0;
}

.cleanContainer button {
    width: 80px;
    height: 40px;
    border-radius: 30%;
    font-size: large;
   
}
.numberContainer {
   flex-grow: 1;
   display: flex;
   align-items: center;
   justify-content: center;
}
.nB {
    height: 295px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.oB {
    height: 295px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.numberContainer button {
    font-size: xx-large;
}

.number {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    
}
.equals {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    
    
}
.operator {
    width: 75px;
    height: 50px;
    border-radius: 35%;
}
button {
    cursor: pointer;
}

footer {
    font-size: xx-small;
}

button.active {
    background-color: #ffa; /* Change background color */
    transform: scale(0.95); /* Slightly shrink the button */
    transition: transform 0.1s ease;
}




@keyframes flashText {
    0% {
        color: crimson;
    }
    25% {
        color: #ff5733; /* Light red */
    }
    50% {
        color: #ffbb33; /* Yellow */
    }
    75% {
        color: #33ff57; /* Green */
    }
    100% {
        color: crimson;
    }
}

