* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    justify-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 550px;
    background-color: aqua;
    margin: auto;
}

.screenContainer {
    background-color: blue;
    /* flex-grow: 1; */
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.screen1 {
    background-color: darkgoldenrod;
    width: 300px;
    height: 50px;
}

.screen2 {
    background-color:darkkhaki;
    width: 300px;
    height: 50px;
}
.cleanContainer {
    background-color: blueviolet;
    /* flex-grow: 1; */
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cleanContainer button {
    background-color: darkorange;
    width: 100px;
    height: 40px;
}
.numberContainer {
   background-color: chartreuse;
   flex-grow: 1;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 20px;
   justify-content: center;
}

.numberContainer button {
    background-color:darkmagenta;
    width: 75px;
    height: 40px;
}